<<!DOCTYPE html>
<html>
<head>
	<title>To Do</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<style>
		span.done-true {
  			text-decoration: line-through;
  			color: blue;
		}

		div {
    		background-color:grey;
    		/*color:white;*/
    		text-align:center;
    		font-size:300%;
    		padding:5px; 
		}

	</style>
</head>

<body>

	<h1 style="background-color:lightgrey;font-size:200%; text-align:center;">To do</h1>
	
	<div ng-app="myApp" ng-controller="ToDoCtrl" >

    	<span>{{remaining()}} of {{todos.length}} remaining</span>
    	[ <a href="" ng-click="archive()">archive</a> ]

    	<ul>
    	  <li ng-repeat="todo in todos">
    	    <input type="checkbox" ng-model="todo.done">
    	    <span class="done-{{todo.done}}"> {{todo.text}} </span>
    	  </li>
    	</ul>

    	<form ng-submit="addTodo()">
    	  <input type="text" ng-model="todoText"  size="30" placeholder="add new todo here">
    	  <input  type="submit" value="add">
    	</form>

    </div>

	<script src="ctrl1.js"></script>
</body>
</html>
